.p3dlite-expand {
	width:60%;
	display:inline;
	float:left;
}
.p3dlite-remove-button.button-secondary, .p3dlite-clone-button.button-secondary {
	display:inline;
	float:left;
	margin-left:10px;
	height:35px;
}
div.group-color-sample {
	cursor: pointer;
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	width: 22px;
}
.p3dlite-advanced {
	display:none;
}

.p3dlite-preview {
	max-width:100px;
	max-height:100px;
}



span.p3dlite-active {
	color: #41701f;
}

span.p3dlite-inactive {
	color: #a00;
}

.p3dlite-quote-sent {
	color: #41701f;
}

.p3dlite-order-placed {
	color: #41701f;
	font-weight:bold;
}

.p3dlite-failed-email {
	color: #a00;
}

.p3dlite-thumb {
	border:0;
	max-width:100px;
	max-height:100px;
}

.p3dlite-table .wp-list-table .column-cb { width: 5%; }
.p3dlite-table .wp-list-table .column-id { width: 5%; }
.p3dlite-table .wp-list-table .column-image { width: 10%; }
.p3dlite-table .wp-list-table .column-name { width: 10%; }
.p3dlite-table .wp-list-table .column-quantity { width: 5%; }
.p3dlite-table .wp-list-table .column-group_name { width: 10%; }
.p3dlite-table .wp-list-table .column-color { width: 6%; }
.p3dlite-table .wp-list-table .column-status { width: 10%; }
.p3dlite-table .wp-list-table .column-infill { width: 5%; }

.p3dlite-table .wp-list-table .column-image img { max-width:100px; }
.p3dlite-poststuff #post-body {
	margin-right: 0 !important;
}

.p3dlite-preview {
	max-width:100px;
}

select.sumoselect {
	height: 33px !important;
	height: -webkit-fill-available !important;
}

.p3dlite-bundle-item {
	clear: both;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.p3dlite-totals {
	font-weight:bold;
	text-transform: uppercase;
}

.p3dlite-advanced {
	display:none;
}